extends layout

block content
    .container
        .row
            .col-lg-12.text-center
                h1 Book Trading Club
                p.lead The first rule of Book Trading Club is don't talk about Book Trading Club.
        .row
            .col-sm-12
                h3 Features
            .col-sm-3
                p Catalogue your books online
            .col-sm-3
                p See all books our user own
            .col-sm-3
                p Request to borrow other users'books
            .col-sm-3
                p Easily manage books and requests from your dashboard

